<div class="container">
  <h4 class="bg-dark text-white" >Quản lý danh mục sản phẩm</h4>
 
  <form action="/action_page.php">
    <div class="form-group">
      <label for="usr">Mã SP</label>
      <input type="text" class="form-control" #maSP >
    </div>
    <div class="form-group">
      <label for="pwd">Tên SP</label>
      <input type="text" class="form-control" #tenSP>
    </div>
    <div class="form-group">
      <label for="usr">Giá</label>
      <input type="text" class="form-control" #giaSP>
    </div>
    <button type="button" class="btn btn-primary" (click)='getInfo(maSP.value, tenSP.value, giaSP.value)'>Thêm sản phẩm</button>
  </form>
</div>
<br><br>
<div class="container"> 
  <table class="table">
    <thead >
      <tr >
        <th>STT</th>
        <th>Mã SP</th>
        <th>Tên SP</th>
        <th>Giá</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor='let item of arr, let stt = index'>
        <tr [ngClass]="{rowColor: stt % 2 === 1}">
          <td>{{stt + 1}}</td>
          <td>{{item.ma}}</td>
          <td>{{item.ten}}</td>
          <td>{{item.gia}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<!-- <input type="text" [value]="name" [(ngModel)]="name">
<p>{{name}}</p> -->




